
{% extends "layout.html" %}
{% block content %}
{% for site in outputs['news'].keys() %}
{%  set site_name = site %}
{%  for article in outputs['news'][site_name] %}
{%    set headline = article['headline'] %}
{%    set link = article['link'] %}
{%    set summary = article['summary'] %}
<div class="card bg-dark text-white mt-5">
    <div class="card-header">
      <a href={{ link }}>
        <h3>
          {{site_name}}: {{ headline }}
        </h3>
      </a>
    </div>
    </h3>
    <div class="card-body">
      <p>{{ summary }}</p>
    </div>
  </div>
</div>
{%  endfor %}
{% endfor %}
{% endblock %}

