<!DOCTYPE html>
<html lang="en">
  <head>
    <title>McIlroy News</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  </head>

  <body class="bg-secondary text-white">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <Link class="navbar-brand" href="/">TheMcIlroyNews</Link>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="/">News</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/supreme_court">Supreme Court Rulings</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/congress">Congressional Bills</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
          </li>
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
  
  <footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  </footer>
</html>
