{% extends "layout.html" %}
{% block content %}
{% for day in outputs %}
{%  for date in day.keys()%}    
{%    set date = date %}
<div class="card bg-dark text-white mt-2">
    <div class="card-header">
        <h2>
            {{ date }}
        </h2>
    </div>
    <div class="card-body">
{%  for ruling in day[date] %}
{%    set case = ruling['case'] %}
{%    set link = ruling['link'] %}
{%    set summary = ruling['summary'] %}
      <br/>
      <a href={{ link }}>
        <h3>
            {{ case }}
        </h3>
      </a>
      <br/>
      <p>{{ summary }}</p>
{%  endfor %}
    </div>
</div>
{% endfor %}
{% endfor %}
{% endblock %}